{{template "page_layout.html" .}}

{{define "title"}}
    <title>Duty Free</title>
{{end}}

{{define "search"}}
    <input type="text" placeholder="Search.." id="search-field">
    <script>
        document
            .getElementById("search-field")
            .addEventListener("keyup", ({target:{value}})=>{
                document
                    .querySelectorAll(".tile")
                    .forEach( elem => {
                        elem.style.display = elem.textContent.includes(value) ? "" : "none"
                    })
            })
    </script>
{{end}}

{{define "content"}}
<div>
    {{range .ResourceModels}}
        <div class="tile" id="{{.Identifier}}">
            <a target="_blank" href="{{.AuthorProfileLink}}" class="author">
                {{.AuthorHandle}}
            </a>
            <h2 class="name">
                <a href="resources/{{.Identifier}}.html">
                    {{.Name}}
                </a>
            </h2>
            <div class="desc">
                {{.Description}}
            </div>
            <a target="_blank" href="{{.Repository}}">
                <img src="static/GitHub-Mark-120px-plus.png" alt="Resource Source on Github" class="github-icon"
                     title="Resource Source on Github">
            </a>
        </div>
    {{end}}
</div>
{{end}}
