{{template "page_layout.html" .}}

{{define "title"}}
    <title>Duty Free</title>
{{end}}

{{define "search"}}
    <input type="text" placeholder="Search.." id="search-field">
    <script>
        document
            .getElementById("search-field")
            .addEventListener("keyup", ({target:{value}})=>{
                const re = new RegExp(value,"i")
                document
                    .querySelectorAll(".tile")
                    .forEach( elem => {
                        elem.style.display = re.test(elem.textContent) ? "" : "none"
                    })
            })
    </script>
{{end}}

{{define "categories"}}

    <ul class="categories">
        {{range .CategoryList}}
            <li>
                {{.}}
            </li>
        {{end}}
    </ul>
{{end}}

{{define "content"}}
<div>
    {{range .ResourceModels}}
        <div class="tile" id="{{.Identifier}}">
            <div class="author">
                {{if .AuthorHandle | eq "concourse"}}
                    <span class="official">official</span>
                {{end}}
                <a target="_blank" href="{{.AuthorProfileLink}}">
                    {{.AuthorHandle}}
                </a>
            </div>
            <h2 class="name">
                <a href="resources/{{.Identifier}}.html">
                    {{.Name}}
                </a>
            </h2>
            <div class="desc">
                {{.Description}}
            </div>
            <a target="_blank" href="{{.Repository}}">
                <img src="static/GitHub-Mark-120px-plus.png" alt="Resource Source on Github" class="github-icon"
                     title="Resource Source on Github">
            </a>
            <div class="tags">
                {{if .Get}}
                    <span class="get">Get</span>
                {{end}}
                {{if .Put}}
                    <span class="put">Put</span>
                {{end}}
            </div>
        </div>
    {{end}}
</div>
{{end}}
