{{template "page_layout.html" .}}

{{define "title"}}
    <title>Duty Free</title>
{{end}}

{{define "search"}}
    <input type="text" placeholder="Search.." id="search-field">
    <script>
        document
            .getElementById("search-field")
            .addEventListener("keyup", ({target:{value}})=>{
                const re = new RegExp(value,"i")
                document
                    .querySelectorAll(".tile")
                    .forEach( elem => {
                        elem.style.display = re.test(elem.textContent) ? "" : "none"
                    })
            })
    </script>
{{end}}

{{define "categories"}}

    <ul class="categories">
        <li>
            <a href="#" id="all-resource">All Resources</a>
        </li>
        {{range .CategoryList}}
            <li>
                <a class="category-filter" href="#category={{.}}" data-category="{{.}}">{{.}}</a>
            </li>
        {{end}}
    </ul>
    <script>
        (function () {
            const unselectAll = () => document
                .querySelectorAll(".categories a.category-filter")
                .forEach(elem => elem.classList.remove("selected"))

            document
                .querySelectorAll(".categories a.category-filter")
                .forEach(elem => elem.addEventListener('click', ({target}) => {
                    const category = target.dataset.category

                    unselectAll()

                    target.classList.add("selected")

                    document
                        .querySelectorAll(".tile")
                        .forEach(elem => {
                            const show = elem.querySelector(`.category[data-category="${category}"]`)
                            elem.style.display = show ? "" : "none"
                        })
                }))

            document
                .getElementById("all-resource")
                .addEventListener('click', () => {
                    unselectAll()

                    document
                        .querySelectorAll(".tile")
                        .forEach(elem => elem.style.display = "")
                })
        })()
    </script>
{{end}}

{{define "content"}}
<div>
    {{range .ResourceModels}}
        <div class="tile" id="{{.Identifier}}" >
            {{range .Categories}}
                <span class="category" style="display:none" data-category="{{.}}"></span>
            {{end}}
            <div class="author">
                {{if .AuthorHandle | eq "concourse"}}
                    <span class="official">official</span>
                {{end}}
                <a target="_blank" href="{{.AuthorProfileLink}}">
                    {{.AuthorHandle}}
                </a>
            </div>
            <h2 class="name">
                <a href="resources/{{.Identifier}}.html">
                    {{.Name}}
                </a>
            </h2>
            <div class="desc">
                {{.Description}}
            </div>
            <a target="_blank" href="{{.Repository}}">
                <img src="static/GitHub-Mark-120px-plus.png" alt="Resource Source on Github" class="github-icon"
                     title="Resource Source on Github">
            </a>
            <div class="tags">
                {{if .Get}}
                    <span class="get">Get</span>
                {{end}}
                {{if .Put}}
                    <span class="put">Put</span>
                {{end}}
            </div>
        </div>
    {{end}}
</div>
{{end}}
