{{template "page_layout.html" .}}

{{define "title"}}
    <title>Duty Free - {{.Name}}</title>
{{end}}

{{define "content"}}
    <section class="top-area">
        <h2>{{.Name}}</h2>
        <div>
            <a target="_blank" href="{{.Repository}}">
                <img src="/dutyfree/static/GitHub-Mark-120px-plus.png" alt="Resource Source on Github"
                     class="github-icon-detail"
                     title="Resource Source on Github">
            </a>
            <a href="{{.AuthorProfileLink}}" target="_blank" class="author">{{.AuthorHandle}}</a>
        </div>
    </section>
    <section class="middle-area">
        <div class="description">
            <h3>Description</h3>
            <p class="desc">{{.Description}}</p>
        </div>
    </section>
    <section id="github-readme">
        <h3>Read Me</h3>
        {{.Readme}}
    </section>
{{end}}
