{{template "page_layout.html" .}}

{{define "title"}}
    <title>Duty Free - {{.Name}}</title>
{{end}}

{{define "content"}}
    <section class="top-area">
        <a target="_blank" href="{{.Repository}}" class="github-icon-detail item">
            <img src="/dutyfree/static/GitHub-Mark-120px-plus.png" alt="Resource Source on Github"
                 title="Resource Source on Github">
        </a>
        <h2 class="name item">{{.Name}}</h2>
        <div class="last-version item">{{.Version}}</div>
        <a href="{{.AuthorProfileLink}}" target="_blank" class="author item">{{.AuthorHandle}}</a>
    </section>
    <section class="middle-area">
        <div class="row">
            <img class="github-last-commit"
                 alt="GitHub last commit"
                 src="https://img.shields.io/github/last-commit/{{.AuthorHandle}}/{{.Repo}}.svg?label=Last%20commit&labelColor=757474&color=C4C4C4&style=flat-square">
            {{template "github-stars" .}}
        </div>
        <div class="row">
            <div class="description">
                <h3>Description</h3>
                <p class="desc">{{.Description}}</p>
            </div>
            {{if .Example | ne ""}}
                <div class="example">
                    <h3>Example</h3>
                    <div class="example-content">
                        <pre><code>{{.Example}}</code></pre>
                    </div>
                </div>
            {{end}}
        </div>
    </section>
    <section id="github-readme">
        <h3>Read Me</h3>
        {{.Readme}}
    </section>
{{end}}
