{{template "page_layout.html" .}}

{{define "title"}}
    <title>Duty Free - {{.Name}}</title>
{{end}}

{{define "content"}}

    <h2>{{.Name}}</h2>

    <a href="{{.AuthorProfileLink}}" target="_blank">{{.AuthorHandle}}</a>

    <a target="_blank" href="{{.Repository}}">
        <img src="/dutyfree/static/GitHub-Mark-120px-plus.png" alt="Resource Source on Github" class="github-icon-detail"
             title="Resource Source on Github">
    </a>

    <p class="desc">{{.Description}}</p>

    <div id="github-readme">
        {{.Readme}}
    </div>

{{end}}
