@import "modern-normalize.min.css";

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 75px 1fr;
    grid-template-areas: "logo search" "sidebar content";
}

.logo-area {
    grid-area: logo;
    background-color: #757474;
    height: 60px;
}

.title {
    margin: auto;
}

.search {
    grid-area: search;
    background-color: #cdcdcd;
    height: 60px;
}

#search-field {
    height: 35px;
    width: 747px;
    margin: 13px 0 0 44px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 2px;
}

::placeholder {
    color: #cdcdcd;
    padding-left: 5px;
}

.sidebar {
    grid-area: sidebar;
}

.logo-area h1 {
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    margin: 0;
    padding: 25px 0 0 25px;
}

.content {
    grid-area: content;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.tile-container {
    margin-left: -15px;
}

.tile {
    width: 359px;
    height: 173px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    padding: 10px;
    margin: 15px;
    float: left;
    position: relative;
}

a {
    text-decoration: none;
    color: #0C6AF6;
}

.tile .name {
    display: block;
    padding-left: 17px;
    margin-bottom: 10px;
}

.tile .name a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.tile .desc {
    color: #757474;
    font-size: 12px;
    line-height: 14px;
    padding-left: 17px;
}

.github-icon {
    height: 25px;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.github-icon-detail {
    height: 25px;
    padding-right: 10px;
}

.top-area h2 {
    float: left;
    font-size: 20px;
    margin-top: 0px;
}

.top-area > div {
    float: right;
}

section {
    margin-bottom: 5px;
    overflow: hidden;
    border-bottom: solid 1px #e4e4e4;
}

section:nth-last-of-type(1) {
    border-bottom: none;
}

.middle-area > div {
    float: left;
    width: 50%;
}

.middle-area .desc {
    font-size: 12px;
}

.middle-area .example {
    position: relative;
}

.example-content {
    padding-left: 20px;
}

.example h3 {
    padding-left: 20px;
}

.middle-area .example::before {
    content: "";
    position: absolute;
    top: 65px;
    bottom: 50px;
    border-left: solid 1px #cdcdcd;
}

.top-area .author {

}

.github-last-commit {
    display: block;
    padding: 10px 0 10px 0;
}

#github-readme,
.example-content {
    font-size: 12px;
    line-height: 14px;
}

#github-readme code,
.example code {
    background-color: rgba(27, 31, 35, .05);
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
}

#github-readme pre,
.example pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
}

#github-readme pre code,
.example pre code {
    background-color: #f6f8fa;
}

#github-readme #readme {
    margin-left: 20px;
}

.anchor {
    display: none;
}

.breadcrumb {
    padding-bottom: 30px;
}

.breadcrumb span:last-child {
    color: #757474;
}

.breadcrumb-link::after {
    content: '>';
    padding-left: 5px;
    color: #757474;
}

.verified {
    position: absolute;
    width: 80px;
    height: 18px;
    right: 0px;
    top: 0px;

    background: #C4C4C4;
    color: #FFFFFF;
}

.verified-text {
    text-align: center;
    line-height: 15px;
    font-size: 13px;
    display: block;
    padding-top: 2px;
}

.get-tag, .put-tag {
    width: 25px;
    height: 14px;
}

.get, .put {
    display: inline;
    font-size: 9px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: rgb(151, 151, 151);
    border-radius: 25px;
    padding: 3px 10px;
    margin-right: 5px;
}

.tags {
    position: absolute;
    right: 10px;
    bottom: 13px;
}

.github-stars {
    position: absolute;
    left: 55px;
    bottom: 10px;
}

.category-filter.selected {
    font-weight: bold;
}

ul.categories {
    list-style: none;
    padding-top:100px;
    padding-left: 0px;
    margin-right: 24px;
    font-size: 16px;
    font-weight: 400;
}

.categories a {
    color: #757474;
}

.categories li {
    padding: 15px 24px;
    border-top: 1px solid #EBEBEB;
}
