@import "modern-normalize.min.css";

:root {
    --conconcourse-blue: #3398dc;
}

.container {
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: 75px 1fr;
    grid-template-areas: "logo search" "sidebar content";
}

.logo {
    grid-area: logo;
    background-color: black;
}

.search {
    grid-area: search;
    background-color: #67ccdc;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--conconcourse-blue);
}

.content {
    grid-area: content;
}

h1 {
    color: white;
    font-size: 15px;
}
